<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>box-sizing reset</title>
    <style type="text/css">
        html {
            box-sizing: border-box;
        }
        *,
        *::before,
        *::after {
            box-sizing: inherit;
        }
        .box {
            display: inline-block;
            width: 150px;
            height: 150px;
            padding: 10px;
            background: tomato;
            color: white;
            border: 10px solid red;
        }
        .content-box {
            box-sizing: content-box;
        }
    </style>
</head>
<body>
    <div class="box">border-box</div>
    <div class="box content-box">content-box</div>
</body>
</html>